<?xml version="1.0" encoding="utf-8"?>

<!--
  Complete description of the ROSbot3 robot.

  Author: Breno Uliana de Angelo
-->

<robot name="rosbot3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find ros_commons)/urdf/domain.xacro"/>
  <xacro:property name="M" value="0.001"/>

  <xacro:include filename="$(find rosbot3_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find rosbot3_description)/urdf/sensors.xacro"/>
</robot>
